@import url();
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.body{
    background-color: solid black;
}
#header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    background:rgba(10, 0, 44, 0.466);
    box-shadow: 0 5px 15px rgba(72, 72, 72, 0.303);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(6, 0, 35, 0.825);
    
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px ;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: rgb(255, 242, 0);
    transition: 0.3s ease;
    
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(255, 242, 0);
}
.logo{
    position: absolute;
    top: 0px;
    right: 8px;
    
}
#navbar li a::after{
    content:"";
    width: 0%;
    height: 3px;
    background-color:rgb(255, 242, 0);
    position: absolute;
    bottom: -10px;
    left: -10px;
    right: -10px;
    transition: 0.3s;
}
#navbar li a:hover::after{
    width: 80%;
    left:10px 
}
#navbar li a.active::after{
    content:"";
    width: 80%;
    height: 3px;
    background-color:rgb(255, 242, 0);
    position: absolute;
    bottom: -10px;
    left: 10px;
    right: -10px;
    transition: 0.3s;
}
#model .tagline p1{
    color: rgb(0, 99, 30);
    font-size: 600%;
    font-weight: bold ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
#model .tagline p2{
    color: rgb(66, 0, 99);
    font-size: 600%;
    font-weight: bold ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
#model .tagline p3{
    color: rgb(117, 0, 55);
    font-size: 400%;
    font-weight: bold ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
#model{
    background-image: url('srk.jpg');
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 0% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    

}
#model button{
    padding: 0 15px;
    background-image: url("button3.png");
    background-color: transparent;
    color: rgb(0, 79, 1);
    border: 0;
    padding: 14px 80px 18px 85px;
    font-size: 15px;
    
}
#model p{
    position: absolute;
    right: 10px;
    color: rgb(0, 79, 1);
}
#model button{
    position: absolute;
    right: 5px;
    top:490px
}
.sec-p1{
    padding: 40px 80px;
    background-color: rgb(5, 0, 27);
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 17, 35);
}
#feature .fe-box{
    background-color: rgb(255, 255, 255);
    width: 120px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 15px 15px 20px rgba(249, 249, 249, 0.164);
    border: 20px rgb(124, 124, 124);
    border-radius: 25px;
    margin: 5px 0;
} 
#feature .fe-box:hover{
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.164);
}
#product1 h1{
    color: aliceblue;
}
#product1 .latest-product{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 h1{
    font-size: 70px;
}
#product1{
    text-align: center;
}
#product1 .latest{
    color: white;
    width: 15%;
    min-width:150px;
    padding: 20px 20px;
    border: 1px #000000;
    box-shadow:10px 10px 50px rgba(255, 255, 255, 0.13);
    border-radius: 25px;
    cursor: pointer;
    transition: 0.1s ease;
    margin: 15px 0;
    background-color: rgb(2, 0, 26);
    position: relative;
}
#product1 .latest:hover{
    box-shadow:20px 20px 30px rgba(0, 0, 0, 0);
}
#product1 .latest img{
    width:100%;
    border-radius: 20px;
}
#product1 .star ,.cart{
    width: 20px;
    height: 20px;
}
#product1 .latest .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .latest .des h4{
    padding: 7px;
    color: rgb(204, 0, 190);
   
}
#product1 .latest .des .save{
    justify-content: center;
    font-weight: 600;
    padding: 2px 4px ;
    background-color: rgb(250, 246, 0);
    height: 20px;
    width: 50%;
    border-radius: 4px;
    position: absolute;
    left:30%;
    bottom: 10px;
    color: rgb(0, 0, 47) ;
}
#product1 .latest ::after{
    content:"";
    width: 0%;
    height: 3px;
    background-color:rgb(255, 242, 0);
    position: absolute;
    bottom: -10px;
    left: -10px;
    right: -10px;
    transition: 0.3s;
}
