*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.content{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(199, 0, 119);
    font-family: 'Lato', sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url("img/cover.jpg");
    background-size: cover;
    background-position: center;
}
.title{
    font-size: 380%;
    line-height: 100px;
    font-weight: bold;
    height: 100px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.content{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: sans-serif;
}
button{
    padding: 15px 25px;
    margin: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    border: 1px solid rgba(199, 0, 119, 0.335);
    color: rgb(199, 0, 119);
    cursor: pointer;
    background: linear-gradient(to right, transparent 30%, rgb(199, 0, 119)) ;
    background-size: 200%;
    background-position: left;
    transition: background-position 0.5s ;
    
    
}
button:hover{
    background-position: right;
    color: rgb(255, 255, 255);
    
}
.slider{
    color: rgb(68, 0, 131);
    margin-left: 1.5%;
    box-sizing: border-box;
    animation: slider 5s linear infinite;
}
@keyframes slider{
    0%{margin-top: -400px;}
    5%{margin-top: -300px;}
    55%{margin-top: 0px;}
    100%{margin-top: 300px;}

}
.logo{
    position: absolute;
    right: 2px;
    top:1px;
}